* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
}
.add-container{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    background-color: aquamarine;
    border-radius: 10px;
    font-size: 13px;
}
.addition{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.addition input{
    border: none;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 10px;
    outline: none;
}
.addition button{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
}
.chousing{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    gap: 2px;
}
.chousing input{
    margin-right: 10px;
}

.lists{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:start;
    justify-content: space-between;
}
.list{
    padding: 5px;
    width: 23%;
    background-color: aquamarine;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: 15px;
    gap: 10px;
}
.input-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.input-text input {
    border: none;
    background-color: white;
    border-radius: 5px;
    width: 90%;
    min-height: 30px;
    font-size: 15px;
    color: black;
    outline: none;
    padding: 0 10px;

}

.delete-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('images/trash-can.png') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.input-text .delete-btn:hover {
    opacity: 1;
}
